@model HospitalManagementSystem.Models.Doctor
@{
    ViewBag.Title = "Delete";
}
<h2>Delete</h2>
<p>Are you want to Delete this Doctor ?</p>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.DoctorFirstName)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.DoctorLastName)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.DoctorAddress)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.DoctorPhone)
        </dt>
        
    </dl>
    <div>
        @using (Html.BeginForm())
            {
              @Html.HiddenFor(model=> model.DoctorId)
                <div class="form-control">
                    <input type="submit" id="submit1" class="btn btn-danger" value="Delete"/><br />
                    @Html.ActionLink("Back To Patient List","Index")
                </div>
            }
    </div>
</div>